

.box{
	height: 2000px;
	width: 200px;
	float: left;
	padding: 10px;
	color: white;
}

.large-box{
	height: 500px;
	width: 40%;
	float: left;
	padding: 10px;
}


.container{
	float: left;
	width: 100%;
	height: auto;
}
